<div class="col-md-12">
    <div class="btn-toolbar">
        <div class="btn-group btn-group-sm">
            <a href="{{href}}" class="btn btn-primary" target="_blank"><i class="fa fa-download"></i> Download</a>
        </div>
    </div>
</div>
<div class="col-md-12">
    {{#contains contenttype "image/"}}
    <img src="{{href}}" alt="{{name}}" />
    {{else}}
    {{#contains contenttype "text/"}}
    <pre id="editor">
{{../content}}
    </pre>
    <script src="/javascript/ace.js"></script>
    <script src="/javascript/ext-modelist.js"></script>
    <script src="/javascript/theme-clouds.js"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setReadOnly(true);
        editor.setTheme("ace/theme/clouds");
        (function () {
            var modelist = ace.require("ace/ext/modelist");
            var filePath = "{{href}}";
            var mode = modelist.getModeForPath(filePath).mode;
            console.log(mode);
            editor.session.setMode(mode);
        }());
    </script>

    {{else}}
    <p>Die Datei kann im Browser nicht angezeigt werden, lad sie dir bitte runter :)</p>
    {{/contains}}
    {{/contains}}
</div>